#AppContainer {
  margin: 0%;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 2fr; /* Corrected */
}

#leftSide {
  height: 100%;
  grid-column: 1 / span 1; /* Corrected */
  background-color: black;
}

#rightSide {
  height: 100%;
  padding: 0%;
  grid-column: 2 / span 2; /* Corrected */
  background-color: red;
}
