#audio-container
{
    height: 100%;
    width: 100%;
    z-index: 4;
    background-color: #0d1a39;
    position: absolute;
    top: 0%;
}
#call-container
{
    height: 100%;
    width: 100%;
}
#BackCallBtn
{
    position: absolute;
    top: 10%;
    right: 0.7%;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
    outline: 0;
    border: none;
    background-color: #0055ff;
    color: whitesmoke;
    border-radius: 10px;
}
#BackCallBtn:hover
{
    opacity: 0.8;
}